<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>
            <div class = "inField-dark">
                <form id="liftForm">
                    <h3 class = "form-title-dark"><%= title %></h3>
                    <input type="hidden" id="hiddenToken" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" id="hiddenUserId" name="_id" value="<%= user._id %>">
                    <div class="mb-3">
                        <label for="addLiftName" class="form-label labels-dark">Name of Lift</label>
                        <input type="text" class="form-control input-cust-dark" id="addLiftName" maxlength="20" required name="lift">
                        <div id="nameHelpBlock" class="form-text">
                            <span id="name-lift-error" class="error-message"></span>
                            What is the name of the lift?
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addLiftWeight" class="form-label labels-dark">Weight</label>
                        <input type="number" class="form-control input-cust-dark marg-btm" id="addLiftWeight" required name="weight">
                        <div class="radio-inline">
                            <input type="radio" id="lbRadio" name="unitRadio" class="custom-control-input" required>
                            <label class="custom-control-label" for="lbRadio">Pounds</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" id="kgRadio" name="unitRadio" class="custom-control-input" required>
                            <label class="custom-control-label" for="kgRadio">Kilograms</label>
                        </div>
                        <div id="weightHelpBlock" class="form-text">
                            <span id="weight-lift-error" class="error-message"></span>
                            Enter weight and Units
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addLiftReps" class="form-label labels-dark">Reps</label>
                        <input type="number" max="20" min="1" id="addLiftReps" class="form-control input-cust-dark-small" name="reps" required>
                        <div id="repsHelpBlock" class="form-text">
                            <span id="reps-error" class="error-message"></span>
                            Enter highest reps done for the weight (1-20)
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addLiftDate" class="form-label labels-dark">Date</label>
                        <input type="date" class="form-control input-cust-dark" id="addLiftDate" required name="date">
                        <div id="dateHelpBlock" class="form-text">
                            <span id="date-lift-error" class="error-message"></span>
                            Date of exercise
                        </div>
                    </div>
                    <button type="submit" class="btn cust-btn-dark">Add</button>
                    <a href="./lifting" class="btn cust-cancel-btn-dark">Cancel</a>
                </form>
            </div>
            <div class="push"></div>
        </div>
        <script src="../js/lift/add-lift.js"></script>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>