<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>
            <div class="mod-lift-title">
                <div class="left-rtrn-btn">
                    <a id="return-lift-btn" href="./lifting" class="btn-HL-rtrn"><i class="fas fa-arrow-left"></i> Return to Lifts</a>
                </div>
                <h3 class = "title-dark"><%= activity.name %></h3>
            </div>
            <hr class="solid">
            <%- include('../partials/activity.ejs') %>
            <div class="push"></div>
        </div>
    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src = "../js/lift/modifyLift.js"></script>
    <%- include('../partials/footer.ejs') %>
</html>