<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>
            <input type="hidden" id="hiddenToken" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" id="hiddenActId" name="_id" value="<%= actId %>">
            <h3 class = "title-dark">Are you sure you want to delete this lift?</h3>
            <button id="delLiftBtn" type="button" class="btn cust-btn-dark">Delete</button>
            <a href="./get-act<%= actId %>" class="btn cust-cancel-btn-dark">Cancel</a>
            <div class="push"></div>
        </div>
        <script src = "../js/rem-act.js"></script>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>