<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>
            <h3 class = "title-dark">LIFTS</h3>
            <hr class="solid">
            <div class="lift-content">
                <% for(var i = 0; i<activities.length; i++){ %>
                    <a href="./get-lift<%= activities[i]._id %>">
                        <div id="liftList<%= i %>" class="disp-lift">
                            <div class="lift-wrapper row">
                                <div class="lift-title col-4">
                                    col-4: <%= activities[i].name %>
                                </div>
                                <div class="lift-inner-content col-8">
                                    col-8
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %>
                <a href="./add-lift"><button type="button" id="create-lift" class="btn create-lift-btn"><i class="fas fa-plus"></i> ADD NEW LIFT</button></a>
            </div>
            
            <div class="push"></div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>