<div class="row">
    <div class="col-6">
        <h6 class="edit-lift-title">Last:</h6>
    </div>
    <div class="col-6">
        <h6 class="edit-lift-form"><%= activity.values[values.length-1].weight %> <%= activity.unit %> for <%= activity.specificCache.lift.max.reps %></h6>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h6 class="edit-lift-title">Max:</h6>
    </div>
    <div class="col-6">
        <h6 class="edit-lift-form"><%= activity.specificCache.lift.max.weight %> <%= activity.unit %> for <%= activity.specificCache.lift.max.reps %></h6>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h6 class="edit-lift-title">Theoretical Max:</h6>
    </div>
    <div class="col-6">
        <h6 class="edit-lift-form"><%= activity.specificCache.lift.theo.max %> <%= activity.unit %></h6>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h6 class="edit-lift-title">Duration:</h6>
    </div>
    <div class="col-6">
        <h6 class="edit-lift-form"><%= activity.duration %> days</h6>
    </div>
</div>